<script src="<%- url_for('/scripts/prism.js') %>"></script>
<script src="<%- url_for('/scripts/scripts.js') %>"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102620419-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-102620419-1');
</script>
</body>
</html>
