// @import url('https://fonts.googleapis.com/css?family=Abel|Montserrat:400,500|Open+Sans:400,400i');
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,400i,500,600');

@import 'icons';

$blue: #1563FF;
$primary-color: $blue;
$navbar-height: 2.4rem;
$sidebar-width: 10rem;
$base-font-family: 'Barlow', sans-serif;

@import '../../../../node_modules/spectre.css/src/spectre';

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: -.025em;
}

.lead {
  font-size: 1.2rem;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #EEEEEE !important;
  border: 1px solid $border-color !important;

  .token.atrule, .token.attr-value, .token.keyword {
    color: $blue;
  }
}

code[class*="language-"] {
  color: #333333 !important;
  text-shadow: none !important;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #F6F6F6;
  // font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1.5;
  padding-top: $navbar-height;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.btn.btn-primary {
  color: #EEEEEE;
}
.btn.btn-lg {
  padding: $unit-3 $unit-8;
  height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 500;
}
.btn:active {
  transform: scale(.95);
}

.nav .nav-item a.active {
  color: $primary-color;
}

.container {
  max-width: 40rem;
}

.navbar-top .navbar-brand {
  text-transform: lowercase;
  color: $light-color;
  font-size: 1.2rem;
  font-family: 'Abel';
}

.navbar-top a {
  color: $light-color;
}
.navbar-top a:hover {
  text-decoration: none
}

.navbar-brand span {
  font-family: monospace;
  opacity: .25;
  font-size: .8rem;
}

.navbar-top {
  background: $primary-color;
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 0 .8rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: $navbar-height;
}

.sidebar {
  border-right: 1px solid $border-color;
  width: $sidebar-width;
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding: .6rem 1rem;
  background: #EEEEEE;
  font-size: .675rem;
}

.nav-heading {
  text-transform: uppercase;
  font-size: .65rem;
  letter-spacing: .1em;
  opacity: .5;
  position: relative;
  background: #EEEEEE;
  margin-top: .8rem;
}

.picture {
  border: 1px solid $border-color;
  padding: 1rem;
  background: #EEEEEE;
}
.picture.float-right {
  margin-left: 1rem;
}

.frontpage-button {
  margin-top: $unit-16;
}
.frontpage-tiles {
  margin-top: $unit-16;
}

.tile-card {
  margin-bottom: .8rem;
  padding: $unit-4 0;
  background: transparent;
}

.tile-card .tile-icon {
  font-size: 1.6rem;
  margin-right: .8rem;
}

.tile-title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .05em;
}

.tile-subtitle {
  margin-top: .4rem;
  font-size: .75rem;
  opacity: .75;
}

.tile.tile-centered .tile-title, .tile.tile-centered .tile-subtitle {
  overflow: visible;
  white-space: normal;
}

.main {
  margin-left: $sidebar-width;
  overflow-x: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(.4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.content {
  margin: 0 auto;
  max-width: 80rem;
  padding: $unit-16 $unit-16;
  animation: fade-in .5s;
  position: relative;
}

.content h2[id] {
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
}

.navbar-content {
  border-top: 1px solid $border-color;
  margin-top: 1rem;
  padding-top: 1rem;
  justify-content: center;
}
